* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  padding: 20px;
  background-color: cadetblue;
  font-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

div div button {
  background-color: brown;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border: 7px double black;
  margin: 10px;
}
